* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./utils/hero-bg.jpg");
  /* background-image: url("./utils/hero-bg.jpg"); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a:hover {
  position: relative;
  text-decoration-thickness: 10px;
  cursor: pointer;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(145, 226, 145);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

section {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

section h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

section p {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 30px;
}

.btn1 {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 30px;
  font-size: 24px;
  color: white;
}

.btn1:hover {
  background-color: #9ed2be;
  transition: 0.5s;
}
